@charset "utf-8";

.freeBoardHover:hover{
    background: #FFEEE4;
    cursor: pointer;
}

.container_big{
    margin-left: 20px;
    margin-right: 20px;
}

.container_medium{
    margin: auto;
    width:850px;
}
.container_medium2{
    margin: auto;
    width:700px;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.side_bar{
    height: 400px;
}

.side_bar ul li {
    list-style: none; /*<li> 태그는 위의 이미지처럼 목록을 나타내는 점을 없앤다*/
    line-height: 30px; /*글씨가 가운데로 오도록 설정하기 위해 한줄의 높이를 30px로 설정*/
    vertical-align: middle; /*세로 정렬을 가운데로 설정(위의 line-height와 같이 설정 필요함)*/
    text-align: center; /*글씨 정렬을 가운데로 설정*/
    border: 1px solid black;
    cursor:pointer;
    margin-bottom: 5px;
    width: 140px;
}

.sign{
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    height: 55px;
    padding: 10px;
}

.side_bar ul{
    height: 100%;
    padding: 10px;
    border: 1px solid black;
}

.side_bar a {
    display: block;
}

.side_bar a:link {
    color: black;
    text-decoration: none;
}
.side_bar a:visited {
    color: black;
    text-decoration: none;
}
.side_bar a:hover {
    background-color: #ffe8d6;
}



