<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="CmEROeOUZRl5cIPRUdqQwNkTeSsnvs87UyDhC1Pk4_0" />
    <title>채팅</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href='./css/style.css'>
    <link type="text/css" rel="stylesheet" href='./css/chat.css'>

    <!-- font awesome 추가 -->
    <script src="https://kit.fontawesome.com/60fa22b10c.js" crossorigin="anonymous"></script>

    <!-- Bootstrap cdn 설정 (영어버전) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap cdn 설정 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- 채팅을 위한 js파일 -->
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

<div class="chat_user_list_container">
    <nav id="major_menu" class="fl" style="display: none;">
        <div class="sign fl user_group" style="background: #ffe8d6"><img src="/res/user_group.png"></img></div>
        <div class="sign fl chat"><img src="/res/chat.png"></img></div>
        <ul>
<!--            <li>-->
<!--                <div class="data_piece">-->
<!--                    <div class ="img_box fl">-->
<!--                        <img src="" onerror="this.src='/res/user.png'"></img>-->
<!--                    </div>-->
<!--                    <div class ="info_box fl">-->
<!--                        <div class="user_nick_name">너구리</div>-->
<!--                        <div class="user_email">thdalsehf@naver.com</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </nav>

    <nav id="chat_menu" class="fl">
        <div class="sign fl user_group"><img src="/res/user_group.png"></img></div>
        <div class="sign fl chat" style="background: #ffe8d6"><img src="/res/chat.png" ></img></div>
        <ul>
<!--            <li>-->
<!--                <div class="data_piece">-->
<!--                    <div class ="img_box fl">-->
<!--                        <img src="" onerror="this.src='/res/user.png'"></img>-->
<!--                    </div>-->
<!--                    <div class ="info_box fl" style="width:75%;">-->
<!--                        <div class="user_nick_name fl">너구리</div>-->
<!--                        <div class="creation_date fr">2019-05-10</div>-->
<!--                        <div style="clear:both;"></div>-->
<!--                        <div class="content">안녕하세요</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
        </ul>
    </nav>

    <div style="clear:both;"></div>
    <a href="/views/chatRoom"><button>첫번째 페이지로 이동</button></a>
    <form class="form-inline">
        <div class="form-group">
            <label for="msgForm">Message: </label>
            <input type="text" class="form-control" id="msgForm">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <div id="chatLogs"></div>
</div>


<script type="text/javascript">
let user_id = "";
let user_nick_name = "";
//세션정보 가져오기(동기)
$.ajax({
    url:'/userSession',
    dataType:'json',
    type:'POST',
    async:false,
    success:function(data){
        console.log("[세션]data:",data);
        user_id = data.userId;
        user_nick_name = data.nickName;
    }
});


$(function() {
    // socket.io 서버에 접속한다
    let socket = io();

    // 서버로 자신의 정보를 전송한다.
    // socket.emit("login", {
    //
    // });

    // 서버로부터의 메시지가 수신되면
    // socket.on("login", function(data) {
    //     console.log("[로그인]data:",data);
    //     $("#chatLogs").append("<div><strong>" + data + "</strong> has joined</div>");
    // });

    // 서버로부터의 메시지가 수신되면
    socket.on("chat", function(data) {
        console.log("[메인 리스트]chat동작");
        // $("#chatLogs").append("<div>" + data.msg + " : from <strong>" + data.from.name + "</strong></div>");
    });

    //채팅 리스트 정보 가져오기
    $.ajax({
        url:'/chatList',
        dataType:'json',
        type:'POST',
        data:{'user_id':user_id},
        success:function(data){
            console.log("data:",data);
            chat_list_reload(data);
        }
    });

    //유저 리스트 가져오기
    $.ajax({
        url:'/userList',
        dataType:'json',
        type:'POST',
        data:{'user_id':user_id},
        success:function(data){
            //유저 리스트 리로드
            user_list_reload(data);
            //유저리스트 클릭 이벤트
            $(".data_piece").on("click", function() {
                let user_email = $(this).data("email");
                go_room(user_email);
            });
        }
    });

    //유저리스트 보여주기
    $("#chat_menu .user_group").on("click",function(){
        $('#chat_menu').css('display', 'none');
        $('#major_menu').css('display', 'block');
    });

    //채팅리스트 보여주기
    $("#major_menu .chat").on("click",function(){
        $('#chat_menu').css('display', 'block');
        $('#major_menu').css('display', 'none');
    });


});

function user_list_reload(data){

    for(let i=0; i<data.length;i++){
        let item = data[i];

        let $user_list_ul = $("#major_menu ul");

        let html = "<li>\n" +
            "                <div class=\"data_piece\" data-nick-name="+item.nickName+" data-email="+item.userId+">\n" +
            "                    <div class =\"img_box fl\">\n" +
            "                        <img src=\"\" onerror=\"this.src='/res/user.png'\"></img>\n" +
            "                    </div>\n" +
            "                    <div class =\"info_box fl\">\n" +
            "                        <div class=\"user_nick_name\">"+item.nickName+"</div>\n" +
            "                        <div class=\"user_email\">"+item.userId+"</div>\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "            </li>";
        $user_list_ul.append(html);
    }
}

function chat_list_reload(data) {

    for(let i=0; i<data.length;i++) {
        let item = data[i];

        let $chat_list_ul = $("#chat_menu ul");

        let html =
            "               <li>\n" +
            "                <div class=\"data_piece\" data-nick-name=" + item.nickName + " data-email=" + item.userId + " data-room_no= "+ item.room_no +" data-counter_user_id= "+ item.counter_user_id +" data-counter_nick_name= "+ item.counter_nick_name +">\n" +
            "                    <div class =\"img_box fl\">\n" +
            "                        <img src=\"\" onerror=\"this.src='/res/user.png'\"></img>\n" +
            "                    </div>\n" +
            "                    <div class =\"info_box fl\" style=\"width:75%;\">\n" +
            "                        <div class=\"user_nick_name fl\">"+item.counter_nick_name+"</div>\n" +
            "                        <div class=\"creation_date fr\">"+item.creationDate+"</div>\n" +
            "                        <div style=\"clear:both;\"></div>\n" +
            "                        <div class=\"content\">"+item.content+"</div>\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "            </li>";
        $chat_list_ul.append(html);
    }

}

function go_room(user_email) {
    window.parent.postMessage({ 'counter_user_email': user_email }, '*');
}

</script>

</body>
</html>
